Source: cpvframework
Section: misc
Priority: optional
Maintainer: compiv <compiv@tutanota.com>
Build-Depends:
 cmake, gcc, make, python3, patchelf,
 seastar
Homepage: https://github.com/cpv-project/cpv-framework

Package: cpvframework
Architecture: amd64
Depends: seastar
Description: C++ web framework

